<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFFLINE RAG ASSISTANT</title>
</head>
<body>
    
    <!-- Top nevigation bar -->
     <div class="navbar">
        <div class="nav-title">Offline RAG Assistant</div>
        <div class="nav-icons">
            <span>☰</span>
            <span>...</span>
        </div>
     </div>

     <!-- Main container -->
      <div class="container">

        <div id="chat" class="chat-box"></div>

        <div class="input-section">
            <input type="text" id="question" placeholder="Ask something ..." />
            <button onclick="sendQuestion()">Send</button>
        </div>

        <!-- divider -->
         <hr>

         <!-- upload section -->
          <div class="upload-section">
            <input type="file" id="fileInput" multiple />
            <button onclick="uploadFile()">Upload PDF</button>
          </div>

        <!-- delete section  -->
         <div class="delete-section">
            <input type="text" id="deleteFileName" placeholder="Enter exact file name to delete" />
            <button id="deleteBtn">Delete from DB</button>
         </div>

      </div>
<script src="/static/script.js"></script>
</body>
</html>